@model IEnumerable<VaccinationCampaignUI.Models.Patient>;

<table>
    <tr>
        <td>id</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>пол</td>
        <td>Паспорт</td>
        <td>addressID</td>
        <td></td>
    </tr>
    @foreach (var patient in Model)
    {
        <tr>
            <td>@patient.Id</td>
            <td>@patient.Name</td>
            <td>@patient.LastName</td>
            <td>@patient.Sex</td>
            <td>@patient.Passport.ToString()</td>
            <td>@patient.AddressId</td>

            <td>
                <form method="post">
                    <input asp-action="Delete" asp-controller="Patient" type="submit" asp-route-id="@patient.Id" value="Delete" />
                </form>
                <form method="get">
                    <input asp-action="Edit" type="submit" name="Id" asp-route-id="@patient.Id" value="Edit" />
                </form>
            </td>
        </tr>

    }
</table>
