@model IEnumerable<VaccinationCampaignUI.Models.Patient>

@{
    ViewData["Title"] = "Patient";
}

<h1>Пациенты</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Пол
            </th>
            <th>
                Адрес
            </th>
            <th>
                Паспорт
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @if (item.Sex)
                {
                    <td>
                        Мужской
                    </td>
                }
                @if (!item.Sex)
                {
                    <td>
                        Женский
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Adress.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passport)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                </td>
                <td>
                    <a asp-action="FindPatient" asp-route-id="@item.Id">Прививки</a>
                </td>

                <td>
                    <form method="post">
                        <input asp-action="Delete" asp-controller="Patient" type="submit" asp-route-id="@item.Id" value="Удалить">
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
