@model VaccinationCampaignUI.ViewModels.AppealViewModel;

<form method="post">
    <label>Пациент</label>
    <br />
    <select name="patientId" asp-items="@(new SelectList(Model.Patient, "Id", "Name"))"></select>
    <br />

    <label>Описание</label>
    <br />
    <input type="text" name="Description" value="@Model.Description" />
    <br />

    <label>Рекомендации</label>
    <br />
    <input type="text" name="Recommendation" value="@Model.Recommendation" />
    <br />

    <label>Врач</label>
    <br />
    <input type="text" name="Doctor" value="@Model.Doctor" />
    <br />
    <label for="localdate">Дата и время: </label>
    <input type="datetime-local" name="Data" value="@Model.Data" />
    <br />

    <input type="submit" asp-action="Edit" asp-controller="Appeal" value="Edit" />
</form>