@model IEnumerable<VaccinationCampaignUI.Models.Address>;

<table>
    <tr>
        <td>id</td>
        <td>Страна</td>
        <td>Область</td>
        <td>Город</td>
        <td>Дом</td>
        <td>Квартира</td>
        <td></td>
    </tr>
    @foreach (var address in Model)
    {
        <tr>
            <td>@address.Id</td>
            <td>@address.Coutry</td>
            <td>@address.Region</td>
            <td>@address.Locality</td>
            <td>@address.Hous</td>
            <td>@address.Flat</td>
            
            <td>
                <form method="post">
                    <input asp-action="Delete"asp-controller="Address" type="submit" name="Id" asp-route-id="@address.Id" value="Delete" />
                </form>
                <form method="get">
                    <input asp-action="Edit" type="submit" name="Id" asp-route-id="@address.Id" value="Edit" />
                </form>
            </td>
        </tr>

    }
</table>
